#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "CompanyName", "WinScaler"
            VALUE "FileDescription", "WinScaler - External Window Host"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "WinScaler"
            VALUE "OriginalFilename", "WinScaler.exe"
            VALUE "ProductName", "WinScaler"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
